.profile-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.profile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.profile-header {
    padding: 20px;
    background-color: #d1d1d1;
    color: #2e2e2e;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    margin-top: -60px;
}

.profile-name {
    margin: 10px 0 5px;
    font-size: 24px;
}

.profile-bio {
    font-size: 16px;
    margin: 0;
    color: #2e2e2e;
}

.profile-interests {
    padding: 20px;
}

.profile-interests h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #2e2e2e;
}

.profile-interests ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-interests li {
    background-color: #f7f7f7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.edit-icon {
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
}